@import "tailwindcss";

@theme {
  --color-primary: #050505;
  --color-secondary: #0A0A0C;
  --color-accent-blue: #0050FF;
  --color-accent-cyan: #00D6FF;

  --font-sans: var(--font-inter);
}

:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Utilities */
.bg-radial-gradient {
  background-image: radial-gradient(circle, var(--tw-gradient-stops));
}

.box-shadow-glow {
  box-shadow: 0 0 10px rgba(0, 214, 255, 0.6);
}